body {
    margin: 0;
    position: relative;
    overflow: hidden;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #0f4d0f;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

menu {
    margin: 0;
    padding: 0;
    padding-bottom: 0.5rem;
    position: absolute;
    z-index: 10;
    bottom: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#throw {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0.25rem .5rem black;
    background-color: white;
}
#throw:hover {
    cursor: pointer;
}

#results {
    min-width: 12ch;
}

#canvas {
    flex: 1;
    height: 90vh;
    width: 100vw;
}

.pop-up {
    animation: fade-in ease-in-out 1s;
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background: rgba(0,0,0,0.5)
}
.pop-up__dialog {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    background: none;
    color: white;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}