:root {
	--bg: #999;
}

body {
	margin: 0;
	position: relative;
	overflow: hidden;
	font-family: "Roboto", serif;
	font-weight: 400;
	font-style: normal;
	color: white;
	background-color: var(--bg);
	min-height: 100svh;
}

#loader {
	background-color: var(--bg);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	transition: 1s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		margin-bottom: 8rem;
		font-size: 3rem;
		color: black;
		text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
	}
}

.loader__wrapper {
	position: relative;
	width: 5rem;
	height: 5rem;
}

.loader__icon {
	position: absolute;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 0.125rem;
	width: 4rem;
	height: 4rem;
	animation: turn 4s linear infinite;

	&--one {
		animation-delay: -1s;
	}
	&--two {
		animation-delay: 0.333s;
	}
	&--three {
		animation-delay: -2.333s;
	}

	&__dots--one::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 0.5rem;
		height: 0.5rem;
		border-radius: 100%;
		background-color: black;
	}
	&__dots--two::after {
		content: "";
		position: absolute;
		top: 25%;
		left: 75%;
		transform: translate(-50%, -50%);
		width: 0.5rem;
		height: 0.5rem;
		border-radius: 100%;
		background-color: black;
	}
	&__dots--two::before {
		content: "";
		position: absolute;
		top: 75%;
		left: 25%;
		transform: translate(-50%, -50%);
		width: 0.5rem;
		height: 0.5rem;
		border-radius: 100%;
		background-color: black;
	}
}

button#start {
	visibility: hidden;
	margin-top: 16rem;
}

@keyframes turn {
	0% {
		top: 0;
		left: 0;
	}
	8.333% {
		top: 0;
		left: 100%;
	}

	25% {
		top: 0;
		left: 100%;
	}
	33.333% {
		top: 100%;
		left: 100%;
	}

	50% {
		top: 100%;
		left: 100%;
	}
	58.333% {
		top: 100%;
		left: 0;
	}

	75% {
		top: 100%;
		left: 0;
	}
	83.333% {
		top: 0;
		left: 0;
	}
}

#playing {
	display: flex;
	flex-direction: column;
}

menu {
	margin: 0;
	padding: 0;
	padding-bottom: 0.5rem;
	position: absolute;
	z-index: 10;
	bottom: 0;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 2rem;
	width: 100vw;
	display: flex;
	justify-content: center;
	gap: 1rem;
}

button {
	font-size: 1.5rem;
	font-weight: bold;
	transition: 0.5s;
	padding: 0.75rem 1.5rem;
	border-radius: 0.25rem;
	border: none;
	box-shadow: 0 0.125rem 0.25rem grey;

	&:not([disabled]):hover {
		cursor: pointer;
		transform: scale(1.02);
	}
}

#canvas {
	flex: 1;
	height: 90svh;
	width: 100vw;
}

#score {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -50;
	background-color: rgba(0, 0, 0, 0.7);
	display: grid;
	place-content: center;

	.table {
		display: grid;
		grid-template-columns: 1fr 3ch;
		gap: 0.5rem 4rem;
		font-size: 1.5rem;
		color: white;
	}
}
