:root {
    --bg: #999;
}

body {
    margin: 0;
    position: relative;
    overflow: hidden;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--bg);
    min-height: 100svh;
}

#loader {
    background-color: var(--bg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: 1s;
}

.loader__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 0.25rem solid #333333; */
    width: 5rem;
    height: 5rem;
}
.loader__icon {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 0.125rem;
    width: 4rem;
    height: 4rem;
    animation: turn 4s linear infinite;
}
.loader__icon--one {
    animation-delay: -1s;
}
.loader__icon__dots--one::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    background-color: black;
}
.loader__icon--two {
    animation-delay: 0.333s;
}
.loader__icon__dots--two::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    background-color: black;
}
.loader__icon__dots--two::before {
    content: "";
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    background-color: black;
}
.loader__icon--three {
    animation-delay: -2.333s;
}

@keyframes turn {
    0% {
        top: 0;
        left: 0;
    }
    8.333% {
        top: 0;
        left: 100%;
    }
    
    25% {
        top: 0;
        left: 100%;
    }
    33.333% {
        top: 100%;
        left: 100%;
    }
    
    50% {
        top: 100%;
        left: 100%;
    }
    58.333% {
        top: 100%;
        left: 0;
    }
    
    75% {
        top: 100%;
        left: 0;
    }
    83.333% {
        top: 0;
        left: 0;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
}

menu {
    margin: 0;
    padding: 0;
    padding-bottom: 0.5rem;
    position: absolute;
    z-index: 10;
    bottom: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#throw {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0.25rem .5rem black;
    background-color: white;
}
#throw:hover {
    cursor: pointer;
}

#results {
    min-width: 12ch;
}

#canvas {
    flex: 1;
    height: 90svh;
    width: 100vw;
}

.pop-up {
    animation: fade-in ease-in-out 1s;
    position: absolute;
    height: 100svh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background: rgba(0,0,0,0.5)
}
.pop-up__dialog {
    position: absolute;
    top: 50svh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    background: none;
    color: white;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}